<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Employees</title>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" 
    crossorigin="anonymous">
</head>
<body>
    <div class="container">
    <h2>Change Password</h2>
    <hr/>

        <div th:if="${param.error}" class="alert alert-danger">
            Invalid username & Password
        </div>

        <div th:if="${param.logout}" class="alert alert-success">Logout Sucessfully</div>
        <div class="card-body">
    <form th:action="@{/profile/update-password}" th:object="${employee} "method="POST">

            <label for="currentPassword">Current Password:</label>
            <input type="password" id="currentPassword" name="currentPassword" required> <br>
          
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required><br>
          
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required><br>
          
            <button type="submit">Change Password</button>

        
    </form>
            </div>

    <hr/>
    <a th:href="@{/viewEmployee(employeeId=${employee.id})}">dashboard</a>
    </div>
</body>
</html>