<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Attendance</title>
</head>
<body>
    <h2>Create Attendance</h2>
    <form th:action="@{/save-attendance}" th:object="${attendance} "method="post">
        <div>
            <label for="employee">Employee:</label>
            <select id="employee" name="employee.id" th:field="*{employee}">
                <option th:each="employee : ${employees}"
                        th:value="${employee.id}"
                        th:text="${employee.username}"></option>
            </select>
        </div>
        <div>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" th:field="*{date}" required>
        </div>
        <div>
            <label for="status">Status:</label>
            <select id="status" name="employee.id" th:field="*{status}">
                <option value="status">create status</option>
                <option value="present">Present</option>
                <option value="absent">Absent</option>
            </select>
        </div>
        <div>
            <button type="submit">Create</button>
        </div>
    </form>
</body>
</html>
