<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Attendance</title>
</head>
<body>
    <h2>Create Attendance</h2>
    <form th:action="@{/saveAttendance}" th:object="${attendance} "method="post">
        <div>
            <label for="employee">Employee:</label>
            <select id="employee" name="employee.id" field="*{employee}">
                <option
                        th:value="${attendance.getEmployee().getId()}"
                        th:text="${attendance.getEmployee().getUsername()}"></option>
            </select>
        </div>
        <div>
            <label for="date">Date:</label>
            <input  type="text" id="date" name="date" th:field="*{date}" placeholder="${attendance.getDate()}" >
        </div>
        <div>
            <label for="status">Status:</label>
            <select id="status" name="employee.id" th:field="*{status}">
                <option value="status">select status</option>
                <option value="present">Present</option>
                <option value="absent">Absent</option>
            </select>
        </div>
        <div>
            <button type="submit">Create</button>
        </div>
    </form>
</body>
</html>
